html, body{
	line-height: 1.6;
}

.cnt {
	/* width: 50%; */
	height: auto;
	/* background-color: blue; */
}
.buttons > .btn1:hover {
	font-size: 28px;
}
[astro-icon] {
	position: absolute;
	z-index: -10;
	width: 90px;
}
.icons {
	position: relative;
}
.astro_icon{
	animation: rotate 20s linear infinite;
}
img {
	border-radius: 10px;
}
.h_word {
	display: inline-block;
	background: #3b82f6;
	padding: 10px;
	border-radius: 8px;
	box-shadow: blue 10px 10px;
	margin-bottom: 15px;
}
#style_box{
	transform: rotate(45deg);
}
.info_cnt{
	width: 300px;
}

/* Keyframes for animation */

@keyframes rotate {
	100% {transform: rotate(360deg);}
}

@keyframes vibrate-1 {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	20% {
		-webkit-transform: translate(-2px, 2px);
		transform: translate(-2px, 2px);
	}
	40%	{
		-webkit-transform: translate(-2px, -2px);
		transform: translate(-2px, -2px);
	}
	60% {
		-webkit-transform: translate(2px, 2px);
		transform: translate(2px, 2px);
	}
	80% {
		-webkit-transform: translate(2px, -2px);
		transform: translate(2px, -2px);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
