---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Appniche about page">
	<Header />
	<main class="h-[85dvh]">
		<section class="one"></section>
		<section class="two"></section>
	</main>
	<Footer />
</Layout>
