---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../assets/css/main.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

//Assets
// import img1 from "../assets/img/img1.png";
import img_1 from "../assets/img/svg_ani.svg";
import img_2 from "../assets/img/svg_ani3.svg";
import img_3 from "../assets/img/svg_ani2.svg";
import img_4 from "../assets/img/svg_ani4.svg";
---

<Layout title="Appniche techologies">
	<!-- header for all the pages -->
	<Header />

	<!-- main with all the extra layout -->
	<main>
		<!-- background icons -->
		<Icon
			class="astro_icon hidden md:block md:right-20 md:top-40 right-[-12%]"
			name="logos:react"
		/>
		<Icon class="md:hidden top-40 right-[-12%]" name="logos:html-5" />
		<Icon class="md:hidden top-[30%] left-[-10%]" name="logos:python" />
		<Image
			class="absolute hidden lg:block md:right-[-8%] top-11 right-[-12%] z-[-10]"
			src={img_4}
			alt="image"
		/>
		<Icon
			class="md:bottom-10 bottom-[-8%] md:left-14 left-[-18%]"
			name="logos:css-3"
		/>

		<!-- part one of the main section -->

		<div
			class="flex justify-center gap-4 w-full h-[85dvh] px-2 overflow-hidden"
		>
			<div
				class="cnt flex flex-col justify-center items-center gap-6 md:px-8 md:w-[85%] w-full"
			>
				<p class="md:text-8xl text-6xl font-bold text-center">
					Crafting <span class="h_word my-4 md:my-0">digital</span>
					 brilliance
				</p>
				<p
					class="md:text-2xl text-xl md:w-[70%] w-full text-center px-4"
				>
					<span class="text-3xl">&lt;&gt;</span> We build stunning
					websites, dynamic web apps, and powerful applications and
					more...<span class="text-3xl">&lt;&#47;&gt;</span>
				</p>

				<div class="buttons flex gap-8">
					<button
						class="md:w-[150px] w-[120px] bg-blue-500 text-black text-xl md:text-2xl font-semibold p-2 rounded-md vibrate-1"
						><a href="/contact">Contact us</a></button
					>
					<button
						class="btn1 md:w-[150px] w-[120px] border-2 border-blue-500 text-xl md:text-2xl p-2 rounded-md hover:font-extrabold"
						><a href="#what-we-do">more</a></button
					>
				</div>
			</div>
		</div>

		<!-- part two of the main section -->
		<div
			class="w-full h-auto text-xl flex flex-col items-center gap-[50px]"
			id="what-we-do"
		>
			<!-- what we do part -->
			<div
				class="flex flex-col justify-center items-center gap-8 mt-8 px-4 md:px-0"
			>
				<span
					id="part_two_title"
					class="text-3xl md:text-4xl font-semibold text-center"
					>Welcome to Appniche Technologies</span
				>

				<div class="flex justify-center items-center gap-4">
					<hr class="w-[15dvw]" />
					<span
						id="style_box"
						class="inline-block w-[10px] h-[10px] bg-blue-400"
					></span>
					<hr class="w-[15dvw]" />
				</div>

				<div>
					<p class="text-center">
						<i class="text-blue-500"
							>We don't just build anything, we forge you're
							Dream's into Reality here.</i
						>
					</p>
				</div>
				<div
					class="w-full h-[60%] flex flex-wrap justify-center items-center gap-14 mt-8"
				>
					<div class="info_cnt">
						<Image
							src={img_1}
							alt="scroll-image"
							style="width: 300px; height: 300px;"
						/>
						<div class="span" id="sp_word">
							<p>
								Consectetur commodi soluta sed rem veniam.
								Facere minima repellat exercitationem illo non.
								Sit illo consectetur minima laborum tempora
								Molestiae assumenda?
							</p>
						</div>
					</div>
					<div class="info_cnt">
						<Image
							src={img_2}
							alt="scroll-image"
							style="width: 300px; height: 300px;"
						/>
						<div class="span" id="sp_word">
							<p>
								Elit vero quo quidem vero rem pariatur!
								Repellendus hic neque incidunt perspiciatis
								rerum, voluptatem Impedit eum sunt veritatis
								beatae eos?
							</p>
						</div>
					</div>
					<div class="info_cnt">
						<Image
							src={img_3}
							alt="scroll-image"
							style="width: 300px; height: 300px;"
						/>
						<div class="span" id="sp_word">
							<p>
								Ipsum modi omnis molestias dolor vero molestias!
								Dignissimos corrupti praesentium cum alias
								doloribus Sequi ratione officiis recusandae
								impedit rem id
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- <div -->
		<!-- 	class="w-full h-screen text-xl flex flex-col justify-center items-center" -->
		<!-- > -->
		<!-- 	<div class="grid grid-flow-col place-items-center gap-[2rem]"></div> -->
		<!-- </div> -->
	</main>

	<!-- footer and some Add's -->
	<Footer />
</Layout>
