---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "../assets/css/main.css";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";

//Assets
import img1 from "../assets/img/img1.png";
---

<Layout title="Appniche techologies">
	<!-- header for all the pages -->
	<Header />

	<!-- main with all the extra layout -->
	<main>
		<!-- background icons -->
		<Icon class="md:right-20 md:top-40 right-[-12%]" name="logos:html-5" />
		<Icon
			class="md:bottom-10 bottom-[-8%] md:left-14 left-[-18%]"
			name="logos:css-3"
		/>
		<!-- <Icon -->
		<!-- 	class="right-0 top-20" -->
		<!-- 	name="vscode-icons:file-type-js-official" -->
		<!-- /> -->
		<Icon
			class="md:right-[20%] right-[-12%] top-[80%]"
			name="logos:nodejs"
		/>
		<Icon
			class="right-[80dvw] md:left-[10dvw] left-[-10%] top-[40%]"
			name="logos:python"
		/>

		<!-- part one of the main section -->

		<div class="flex justify-center gap-4 w-full h-[85dvh] px-2">
			<div
				class="cnt flex flex-col justify-center items-center gap-6 md:px-8 md:w-[85%] w-full"
			>
				<p class="md:text-8xl text-6xl font-bold text-center">
					Crafting <span class="h_word my-4 md:my-0">digital</span>
					 brilliance
				</p>
				<p class="text-xl md:w-[70%] w-full text-center px-4">
					<span class="text-3xl">&lt;&gt;</span> We build stunning
					websites, dynamic web apps, and powerful applications and
					more...<span class="text-3xl">&lt;&#47;&gt;</span>
				</p>

				<div class="buttons flex gap-8">
					<button
						class="md:w-[150px] w-[120px] bg-blue-500 text-black text-xl md:text-2xl font-semibold p-2 rounded-md vibrate-1"
						><a href="/contact">Contact us</a></button
					>
					<button
						class="btn1 md:w-[150px] w-[120px] border-2 border-blue-500 text-xl md:text-2xl p-2 rounded-md hover:font-extrabold"
						><a href="#what">more</a></button
					>
				</div>
			</div>
		</div>

		<!-- part two of the main section -->
		<div class="w-full h-screen" id="what">
			<!-- what we do part -->
			<div class=""></div>
		</div>
	</main>
</Layout>

<style>
	.cnt {
		/* width: 50%; */
		height: auto;
		/* background-color: blue; */
	}
	.spin_img {
		/* -webkit-animation: spin 20s linear infinite; */
		/* animation: spin 20s linear infinite; */
	}
	.buttons > .btn1:hover {
		font-size: 28px;
	}
	[astro-icon] {
		position: absolute;
		z-index: -10;
		width: 90px;
	}
	.h_word {
		display: inline-block;
		/* text-decoration: underline; */
		background: #3b82f6;
		padding: 10px;
		border-radius: 8px;
		box-shadow: blue 10px 10px;
		margin-bottom: 15px;
	}
</style>
