---

---

<footer
	class="h-[200px] mt-12 flex items-center justify-around flex-wrap border-t border-white"
>
	<span class="text-3xl flex gap-6 items-center">
		<i class="fa-brands fa-instagram"></i>
		<i class="fa-brands fa-github"></i>
		<i class="fa-brands fa-youtube"></i>
	</span>

	<span
		><a href="https://storyset.com/finance"
			>Finance illustrations by Storyset</a
		></span
	>
</footer>
