---
import { Image } from "astro:assets";

//assets
import img1 from "../assets/img/img1-bg.png";
---

<header class="header h-[15dvh] flex justify-between items-center pl-2 px-8">
	<div class="header__logo">
		<Image class="rounded-full" src={img1} alt="Company logo" width="90" />
		<span class="header__title text-xl md:text-3xl font-semibold"
			>Appniche Technologie's</span
		>
	</div>

	<div id="btn" class="cursor-pointer px-3 rounded-md">
		<span class="text-[28px]">
			<i class="fa-solid fa-bars"></i>
		</span>
	</div>

	<div
		id="nav_menu"
		class="nav_menu w-[320px] md:w-[400px] h-[100dvh] grid place-items-center fixed z-20 top-0 right-[-100%]"
	>
		<div
			id="close_btn"
			class="hidden cursor-pointer text-[30px] absolute z-20 top-6 right-8 px-3"
		>
			<i class="fa-solid fa-xmark"></i>
		</div>
		<div
			class="inner_cnt text-xl flex flex-col justify-around items-center font-semibold"
		>
			<div class="flex flex-col gap-4 justify-around items-center">
				<span class="nav_links"><a href="/">Home</a></span>
				<span class="nav_links"><a href="/about">About</a></span>
				<span class="nav_links"><a href="/work">Work</a></span>
			</div>
		</div>
	</div>
</header>

<style>
	.header {
		background-color: #17181c;
		/* border: 2px solid #fff; */
	}
	.header__logo {
		display: flex;
		align-items: center;
	}
	.header__title {
		margin-left: 0.5rem;
	}
	.inner_cnt {
		gap: 1.5rem;
	}
	.nav_links {
		background: #3b82f6;
		width: 200px;
		padding: 0.5rem;
		text-align: center;
		border-radius: 20px;
	}
	.nav_links:hover {
		color: black;
		text-decoration: underline;
	}
	#nav_menu {
		background-color: transparent;
		backdrop-filter: blur(30px);
		transition: 0.6s ease-in-out;
	}
	#nav_menu.open {
		right: 0;
	}
</style>
