---
import { Image } from "astro:assets";

//assets
import img1 from "../assets/img/img1-bg.png";
---

<header class="h-[15dvh] flex justify-between items-center pl-2 px-8">
	<div class="flex justify-center items-center">
		<Image class="rounded-full" src={img1} alt="Company logo" width="90" />
		<span class="text-xl md:text-3xl font-semibold"
			>Appniche Technologie's</span
		>
	</div>

	<div id="btn" class="cursor-pointer px-3 border border-white rounded-md">
		<span class="text-[28px]">
			<i class="fa-solid fa-bars"></i>
		</span>
	</div>

	<div
		id="nav_menu"
		class="hidden text-xl w-[300px] h-[250px] grid place-items-center fixed z-20 right-8 top-[90px] md:top-[70px] rounded-xl"
	>
		<div
			class="inner_cnt text-xl flex flex-col justify-around items-center font-semibold"
		>
			<div class="flex flex-col gap-4 justify-around items-center">
				<span class="nav_links"><a href="/">Home</a></span>
				<span class="nav_links"><a href="/about">About</a></span>
				<span class="nav_links"><a href="/work">Work</a></span>
			</div>
		</div>
	</div>
</header>

<style>
	#nav_menu {
		background-color: #17181c;
		border: 2px solid #fff;
	}
	.inner_cnt {
		gap: 1.5rem;
	}
	.nav_links {
		background: #3b82f6;
		width: 200px;
		padding: 0.5rem;
		text-align: center;
		border-radius: 20px;
	}
	.nav_links:hover {
		color: black;
		text-decoration: underline;
	}
</style>
